<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Painel Android Controller</title>
    <style>
        body { font-family: Arial; text-align: center; background: #f4f4f4; }
        .btn { padding: 15px 30px; margin: 10px; cursor: pointer; border: none; border-radius: 5px; color: white; }
        .ligar { background: green; }
        .desligar { background: red; }
    </style>
</head>
<body>
    <h1>Controle de Dispositivos Android</h1>
    
    <form action="/enviar" method="POST">
        <button name="comando" value="iniciar_controle" class="btn ligar">Iniciar Conexão Android</button>
        <button name="comando" value="parar_controle" class="btn desligar">Parar Conexão</button>
    </form>
</body>
</html>
