<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Painel de Controle</title>
    <style>
        body { font-family: sans-serif; text-align: center; margin-top: 50px; }
        .box { border: 1px solid #ccc; padding: 20px; display: inline-block; border-radius: 10px; }
    </style>
</head>
<body>
    <div class="box">
        <h1>Painel de Controle</h1>
        
        <form action="/enviar" method="POST">
            <input type="text" name="comando" placeholder="Ex: ligar" required>
            <button type="submit">Enviar Comando</button>
        </form>
        
    </div>
</body>
</html>
